:root {
    --thumbnail-size: 200px;
}

body {
    font-family: sans-serif;
}

/* ----- main photos area ----- */
#photos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--thumbnail-size), auto));
    gap: 10px;
}

.thumbnail {
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
}

.thumbnail img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

/* ----- photo viewer ----- */
#photo-view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 80%);
    display: none;
}

#photo-view.shown {
    display: initial;
}

#big-photo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}