@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --thumbnail-size: 150px;
}

html {
    scroll-behavior: smooth;
}

body {

    display: flex;
    flex-direction: row;
    gap: 2em;

    font-family: 'Open Sans', sans-serif;
    padding: 1em;

}

nav { flex-basis: 7em; }
#photo-browser { flex-grow: 1; }

/* ----- main photo browser  ----- */
#photo-browser h1 {
    font-size: 16pt;
    font-weight: normal;
    opacity: 70%;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--thumbnail-size), auto));
    gap: 10px;
    margin-bottom: 4em;
}

.thumbnail {
    width: 100%;
    position: relative;
    aspect-ratio: 1 / 1;
    display: flex;
}

.thumbnail img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.thumbnail .label {
    
    position: absolute;
    top: 4px;
    left: 4px;
    
    font-size: 10px;
    color: #ffffff;

}

/* ----- nav ----- */
nav {
    position: sticky;
    top: 0;
    align-self: flex-start;
    height: auto;
    padding: 1em 0;
}

nav p,
nav ul {
    opacity: 70%;
}

nav p {
    font-size: 14pt;
    margin-bottom: 0;
}

nav a, 
nav a:visited {
    color: initial;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav ul {
    list-style-type: none;
    padding-inline-start: 0.5em;
    margin: 0;
}

nav li {
    font-size: 11pt;
}

/* ----- photo viewer ----- */
#photo-view {

    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 80%);
    display: none;

}

#photo-view.shown {
    display: flex;
}

#big-photo {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}
