#photos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, auto));
    gap: 10px;
}

.thumbnail {
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
}

.thumbnail img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.label {
    position: absolute;
    top: 0;
    left: 0;
}